img{
    height: 100%;
    width: 100%;
}
.row{
    height: 400px;
    margin-bottom: 5px;
}
h1{
    color: red;
}
.secend-row{
    display: flex;
    gap: 5px;
}
.secend-row > div{
    flex: 1;
}
.secend-row-third-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.secend-row-third-container div{
    height: calc(50% - 5px/2);
}
.third-row{
    display: flex;
    gap: 5px;
}
.third-row-secend-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}
.third-row > div {
    flex: 1;
}