img{
    height: 100%;
    width: 100%;
}
.row{
    height: 400px;
    margin-bottom: 5px;
}
h1{
    color: red;
}
.secend-row{
    display: flex;
    gap: 5px;
}
.secend-row > div{
    flex: 1;
}
.secend-row-third-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.secend-row-third-container img{
    height: 200px;
}